@tailwind base;
@tailwind components;
@tailwind utilities; 

.breadCrumbContainer {
  height: 40px;
  background-color: white;
  padding: 8px 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.contentContainer {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
}

.ant-btn-primary {
  background: #1677ff !important;
}

.ant-typography {
  margin-bottom: 0 !important;
}